.navbar {
  background-color: #183a72;
  background: linear-gradient(-90deg, rgb(22, 135, 237), rgb(20, 55, 90));
  background: -webkit-linear-gradient(-90deg, rgb(22, 135, 237), rgb(20, 55, 90));
}

.nav.navbar-nav.navbar-right li a {
  color: #fff;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #686868;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #686868;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.robot-btn {
  margin: 0 5% 0 5%;
  width: 40%;
}

.jumbotron {
  background-image: url(https://robohash.org/robot.png);
  background-repeat: no-repeat;
  background-position: right;
}
