<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Robot World</title>
  </head>
  <body>
    <a href="/">Robot World</a>
    <ul>
      <li><a href="/robots/new">Create Robot</a></li>
      <li><a href="/robots">All Robots</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
